#navlist {
	padding: 0 1px 1px;
	margin-left: 30px;
	font: bold 12px verdana,sans-serif;
	background: black;
	width: 13em;
}

#navlist li {
	list-style: none;
	margin: 0;
	border-top: 1px solid gray;
	text-align: left;
}

#navlist li a {
	display: block;
	padding: 0.25em 0.5em 0.25em 0.75em;
	border-left: 1em solid white;
	background: white;
	text-decoration: none;
}

#navlist li a:link { color: #448; }
#navlist li a:visited { color: #667; }

#navlist li a:hover {
	border-color: #FE3;
	color: #FFF;
	background: black;
}
