body {
	background-color: #fff;
	font-family: arial, freesans, san-serif;
	font-size: 1.1em;
	margin: 0;
	padding: 0;
	margin-left: 17%;
	margin-right: 17%;
}

a:link,a:visited { color: #27408B; }
a:active { color: #27408B font-weight: bold; }
a:hover { color: #27408B; font-style: underline; }

.header_logo { height: 10.5em; float: left; }
.header_title { padding-top: 0.2em; font-size: 2.4em; font-style: italic; clear left; }
.header_description { font-size: 1.1em; font-style: italic; }

#header {
	/*background-color: #abc2ac; */
	background-color: #8dad8f;
	height: 10.5em;
	clear: both;
	-moz-border-radius: 1.2em;
	border-radius: 1.2em;
}

#left {
	float: left;
	width: 12.4em;
	background-color: #478062;
	font-weight: bold;
	min-height: 100%;
	height: auto !important;
	padding-left: 1em;
	padding-right: 1em;
	-moz-border-radius: 1.2em;
	border-radius: 1.2em;
}

#center {
	margin-left: 14em;
	background-color: #fff;
	color: #000;
	min-height: 100%;
	height: auto !important;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

#footer {
	text-align: center;
	clear: both;
	height: 10%;
}
