---
---
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Void Linux</title>
    <link rel="stylesheet" type="text/css" href="index_files/voidweb.css" media="screen">
		<link rel="icon" type="image/png" href="/index_files/favicon.ico" />
    
</head>
<body class="">
    <div id="voidnavbar" class="anb-home">
        <div id="voidnavbarlogo"><h1><a href="/" title="Return to the main page">Void Linux</a></h1></div>
        <div id="voidnavbarmenu">
            <ul id="voidnavbarlist">
                <li id="anb-home"><a href="/" title="Void news, packages, projects and more">Home</a></li>
                <li id="anb-packages"><a href="/packages/" title="Void Package Database">Packages</a></li>
                <li id="anb-forums"><a href="https://reddit.com/r/voidlinux" title="Community forums">Forums</a></li>
                <li id="anb-wiki"><a href="https://wiki.voidlinux.org/" title="Community documentation">Wiki</a></li>
                <li id="anb-bugs"><a href="https://github.com/void-linux/void-packages/issues" title="Report and track bugs">Bugs</a></li>
                <li id="anb-security"><a href="https://github.com/void-linux/void-packages/issues" title="Void Linux Security Tracker">Security</a></li>
                <li id="anb-aur"><a href="https://www.reddit.com/r/archlinux/comments/b0m6q8/everything_is_wrong_with_aur_helpers/" title="Void Linux User Repository">VUR</a></li>
                <li id="anb-download"><a href="/download/" title="Get Void Linux">Download</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div id="voiddev-navbar">
            
        </div>
        
        
            <div id="content-left-wrapper">
                <div id="content-left">
                    

<div id="intro" class="box">
	<h2>The Void (Linux) distribution</h2>

	<p><strong>Void</strong> is a general purpose operating system, based on the monolithic Linux® kernel. Its package system allows you to quickly install, update and remove software; software is provided in binary packages or can be built directly from sources with the help of the XBPS source packages collection.</p>

	<p>It is available for the Intel x86®, ARM® and MIPS® processor architectures; Software packages can be built natively or cross compiling through the XBPS source packages collection.</p>

    <p>Currently we have official packages optimized for the x86® (both 32 and 64bit), ARM® (v6, v7, and v8)
    architectures. We don't complement our official package sets with a
        community-operated package repository that grows in size and
    degrades quality each and every day.</p>

    <p>Our strong community is diverse and helpful, and we pride ourselves
    on the range of skillsets and uses for Void that stem from it. Please
    check out our <a href="https://reddit.com/r/voidlinux" title="Void Forums">forums</a>
    to get your feet wet. Also glance through our <a href="https://wiki.voidlinux.org/" title="Void Wiki">wiki</a>
    if you want to learn more about Void.</p>
</div>

<div id="news">
    <h3>
        <a href="/news/" title="Browse the news archives">Latest News</a>
        <span class="arrow"></span>
    </h3>

    <a href="/atom.xml" title="Void News RSS Feed" class="rss-icon"><img src="index_files/rss.png" alt="Atom Feed" width="16" height="16"></a>

    {% for post in site.posts limit:3 %}
    <h4>
			<a href="{{post.url}}" title="View full article: {{post.title}}">{{post.title}}</a>
    </h4>
		<p class="timestamp">{{post.date | date: "%Y-%m-%d"}}</p>
    <div class="article-content">
			{{ post.content }} 
    </div>
    {% endfor %}
    
    <h3>
        <a href="https://voidlinux.org/news/" title="Browse the news archives">Older News</a>
        <span class="arrow"></span>
    </h3>
    <dl class="newslist">
    
    {% for post in site.posts limit:10 offset:3 %}
        <dt>{{post.date | date: "%Y-%m-%d"}}</dt>
        <dd>
			      <a href="{{post.url}}" title="View full article: {{post.title}}">{{post.title}}</a>
        </dd>
    {% endfor %}
    </dl>
    
</div>


                </div>
            </div>
            <div id="content-right">
                

<div id="pkgsearch" class="widget">
    <form id="pkgsearch-form" method="get" action="/packages/">
        <fieldset>
            <label for="pkgsearch-field">Package Search:</label>
            <input id="pkgsearch-field" type="text" name="q" size="18" maxlength="200" autocomplete="off" readonly>
        </fieldset>
    </form>
</div>

<div id="pkg-updates" class="widget box">
    <h3>Recent Updates <span class="more">(<a href="github.com/void-linux/void-packages/commits" title="Browse all of the latest packages">more</a>)</span></h3>

    <a href="https://github.com/void-linux/void-packages/commits/master.atom" title="Void Package Updates RSS Feed" class="rss-icon"><img src="index_files/rss.png" alt="RSS Feed" width="16" height="16"></a>

    <table>
        
        <tbody>
					<script src="/assets/js/voidcommits2.js"></script>
					<script src="https://api.github.com/repos/void-linux/void-packages/commits?page=1&amp;per_page=15&amp;callback=voidcommits&amp;sha=master"></script>

    </tbody></table>
</div>



<div id="nav-sidebar" class="widget">
    <h4>Documentation</h4>
    <ul>
        <li><a href="https://wiki.voidlinux.org/" title="Community documentation">Wiki</a></li>
        <li><a href="https://wiki.voidlinux.org/index.php/Installation_guide" title="Installation guide">Installation Guide</a></li>
    </ul>

    <h4>Community</h4>
    <ul>
        <li><a href="https://wiki.voidlinux.org/#community" title="Official and regional IRC communities">IRC Channels</a></li>
        <li><a href="/news" title="Void in the blogosphere">Planet Void</a></li>
    </ul>

    <h4>Tools</h4>
    <ul>
        <li><a href="#" title="Get a custom mirrorlist from our database">Mirrorlist Updater</a></li>
        <li><a href="#" title="See a listing of all available mirrors">Mirror List</a></li>
        <li><a href="#" title="Check the status of all known mirrors">Mirror Status</a></li>
    </ul>

    <h4>Development</h4>
    <ul>
        <li><a href="#" title="Getting involved">Getting involved</a></li>
        <li><a href="https://github.com/void-linux" title="Official Void projects (git)">Projects in Git</a></li>
        <li><a href="#" title="Developer Wiki articles">Developer Wiki</a></li>
        <li><a href="#" title="View the available package groups">Package Groups</a></li>
        <li><a href="#" title="Developer Todo Lists">Todo Lists</a></li>
        <li><a href="#" title="Release Engineering ISO listing">ISO Release List</a></li>
        <li><a href="#" title="View visualizations">Visualizations</a></li>
        <li><a href="#" title="See differences in packages between available architectures">Differences Reports</a></li>
    </ul>

    <h4>People</h4>
    <ul>
        
        <li><a href="#" title="More info about Developers">Developers</a></li>
        
        <li><a href="#" title="More info about Trusted Users">Trusted Users</a></li>
        
        <li><a href="#" title="More info about Support Staff">Support Staff</a></li>
        
        <li><a href="#" title="More info about Developer Fellows">Developer Fellows</a></li>
        
        <li><a href="#" title="More info about Trusted User Fellows">Trusted User Fellows</a></li>
        
        <li><a href="#" title="More info about Support Staff Fellows">Support Staff Fellows</a></li>
        
        <li><a href="#" title="Package/Database signing master keys">Signing Master Keys</a></li>
    </ul>

    <h4>More Resources</h4>
    <ul>
        <li><a href="#" title="Void Linux in the media">Press Coverage</a></li>
        <li><a href="#" title="Void logos and other artwork for promotional use">Logos &amp; Artwork</a></li>
        <li><a href="#" title="News Archives">News Archives</a></li>
        <li><a href="#" title="Various RSS Feeds">RSS Feeds</a></li>
    </ul>
</div>


            </div>
        
        <div id="footer">
					<p class="text-center">Copyright {{ site.time | date: "%Y" }} <a href="https://github.com/orgs/void-linux/people">VoidLinux contributors</a></p>
					<p class="text-center">Copyright 2008-2018 <a href="https://github.com/xtraeme">Juan RP</a> and contributors</p>
					<p class="text-center">Linux&#174; is a registered trademark of Linus Torvalds (<a href="http://www.linuxfoundation.org/programs/legal/trademark/attribution">info</a>)</p>
        </div>
    </div>
    


</body></html>
