body {
	margin-left: 5%;
	margin-right: 5%;
	min-width: 80%;
	font-family: 'Strait', sans-serif;
	text-align: left;
}

a:link,a:visited { color: #27408B; }
a:active { color: #aa7408; }
a:hover { color: #ff408B; }

.logo {
	width: 12%;
	float: left;
}

#title {
	float: right;
	margin-right: 4em;
	font-size: 1em;
	font-style: italic;
}

#center {
	color: #000;
	min-height: 60%;
	height: auto !important;
	padding-top: 10px;
	padding-bottom: 20px;
}

#center h2 {
	padding: 10px 0 10px 22px;
	border-style: solid;
	border-radius: 10px;
	background: black;
	color: white;
	text-decoration: none;
}

#center h3 {
	padding-left: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-style: solid;
	border-radius: 10px;
	background: black;
	color: white;
	text-decoration: none;
}

#center p {
	padding-left: 20px;
	padding-right: 20px;
}

#center ul {
	padding-left: 60px;
	padding-right: 60px;
}

#pkgquery {
	color: #000;
	min-height: 50%;
	height: auto !important;
	padding-left: 28px;
}

#footer {
	padding-top: 2em;
	text-align: center;
}
