a:link,a:visited { color: #27408B; }
a:active { color: #aa7408; }
a:hover { color: #ff408B; }
h1 { padding: 6px; margin: 0; }
h2 { padding: 6px; margin: 0; }
h3 { padding: 6px; margin: 0; }
p { padding-left: 10px; padding-right: 10px; }
ul { padding-left: 32px; }

body {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	text-align: left;
}

#right {
	position: absolute;
	right: 1%;
	width: 25%;
	font-size: 12px;

}

#right ul {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	list-style-type: none;
}

#box {
	padding: 0px 0px 6px 0px;
	margin-bottom: 6px;
	border: 1px;
	border-radius: 6px;
	border-style: solid;
	border-color: black;
	background: white;
}

#center {
	position: absolute;
	width: 72.5%;
	left: 1%;
	padding-bottom: 4px;
}
