<div class="split-section">
  <div>
    <h3 id="{{ page.name | slugify }}"><a href="#{{ page.name | slugify }}">{{ page.name }}</a></h3>
    {{ include.content | markdownify }}
  </div>
  <div>
    {% for device in page.devices %}
    <div class="download-device-title">
      <h4>{{ device.name }}</h4>
      <small>{{ site.download_build_date }}</small>
    </div>
    <ul class="inline-download-links">
      <li>
        <a
          href="{{ site.download_mirror }}/void-{{ device.name }}-{{ site.download_build_date | date: '%Y%m%d' }}.wsl"
          >rootfs tarball</a
        >
        <span class="label label-default">glibc</span>
      </li>
      <li>
        <a
          href="{{ site.download_mirror }}/void-{{ device.name }}-musl-{{ site.download_build_date | date: '%Y%m%d' }}.wsl"
          >rootfs tarball</a
        >
        <span class="label label-warning">musl</span>
      </li>
    </ul>
    {% endfor %}
  </div>
</div>
