			<div id="social">
				<ul>
					<li><a href="https://plus.google.com/communities/113949500587973059533" title="Void on Google+"><i class="fa fa-google fa-lg"></i></a></li>
					<li><a href="https://twitter.com/voidlinux" title="Void Linux on Twitter"><i class="fa fa-twitter fa-lg"></i></a></li>
					<li><a href="https://github.com/voidlinux" title="Void Linux on GitHub"><i class="fa fa-github-alt fa-lg"></i></a></li>
					<li><a href="http://webchat.freenode.net/?channels=%23xbps&amp;uio=d4" title="Void on IRC"><i class="fa fa-comments fa-lg"></i></a></li>
					<li><a href="http://build.voidlinux.eu/console" title="Void builder"><i class="fa fa-cog fa-lg"></i></a></li>
				</ul>
			</div>
