	<header>
		<div id="voidwrap">
			<div id="davoid">
				<div class="lens lens0"></div>
				<div class="lens lens1"></div>
				<div class="lens lens2"></div>
				<div class="lens lens3"></div>
				<div class="lens lens4"></div>
				<div class="lens lens5"></div>
				<div class="lens lens6"></div>
				<div class="lens lens7"></div>
				<div class="lens lens8"></div>
				<div class="lens lens9"></div>
				<div class="lens lens10"></div>
			</div>
			<div id="title"><h1>A distro based on the xbps packaging system</h1></div>
		</div>
	</header>
