body {
	font-family: 'Ubuntu', sans-serif;
	/*
	background-color: #111;
	color: #ddd; */
}

code {
	font-family: 'Ubuntu Mono', monospace;
	background-color: #fdf6e3;
	color: #000;
}

.navbar-inverse .navbar-nav > li > a {
	font-size: 1.2em;
	color: #fff;
}


.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

h1,h2,h3,h4 {
	color: black;
}

.well {
	background-color: #ffffff;
}

.well > ul > li > a {
	color: #ff6600;
	font-size: 1.1em;
}

.btn-orange {
	background-color: #ff6600;
	color: #fff;
}

pre code {
	overflow: auto;
	word-wrap: normal;
	white-space: pre;
}
