@keyframes flakeH {
	from { left: 0%; transform:rotate(0deg); }
	to { left: 100%; transform:rotate(180deg); }
}

@keyframes flakeV {
	from { top: 0%; }
	to { top: 100%; }
}

@-webkit-keyframes flakeH {
	from { left: 0%; transform:rotate(0deg); }
	to { left: 100%; transform:rotate(180deg); }
}

@-webkit-keyframes flakeV {
	from { top: 0%; }
	to { top: 100%; }
}

@-moz-keyframes flakeH {
	from { left: 0%; transform:rotate(0deg); }
	to { left: 100%; transform:rotate(180deg); }
}

@-moz-keyframes flakeV {
	from { top: 0%; }
	to { top: 100%; }
}

#snow i {
	font-style:normal;
}

#snow > i {
	pointer-events: none;
	animation: flakeV 0s linear 0s infinite; /* Chrome, Safari, Opera */
	-webkit-animation: flakeV 0s linear 0s infinite; /* Chrome, Safari, Opera */
	-moz-animation: flakeV 0s linear 0s infinite; /* Chrome, Safari, Opera */
	position:fixed;
	top:0;
}
#snow > i > i {
	position:absolute;
	color: white;
	text-shadow: 0px 0px 1px black;
	animation: flakeH 0s ease-in-out 0s infinite alternate; /* Chrome, Safari, Opera */
	-webkit-animation: flakeH 0s ease-in-out 0s infinite alternate; /* Chrome, Safari, Opera */
	-moz-animation: flakeH 0s ease-in-out 0s infinite alternate; /* Chrome, Safari, Opera */
}

#snow > i:nth-child(1) {
	left:24%;
	animation-duration:12.6s; -webkit-animation-duration:12.6s; -moz-animation-duration:12.6s;
	animation-delay:9s; -webkit-animation-delay:9s; -moz-animation-delay:9s;
	width:25pt;
}
#snow > i:nth-child(1) i {
	animation-duration:3.94s; -webkit-animation-duration:3.94s; -moz-animation-duration:3.94s;
	transform:scale(1.46);
}

#snow > i:nth-child(2) {
	left:50%;
	animation-duration:14.4s; -webkit-animation-duration:14.4s; -moz-animation-duration:14.4s;
	animation-delay:1s; -webkit-animation-delay:1s; -moz-animation-delay:1s;
	width:25pt;
}
#snow > i:nth-child(2) i {
	animation-duration:4.32s; -webkit-animation-duration:4.32s; -moz-animation-duration:4.32s;
	transform:scale(1.55);
}

#snow > i:nth-child(3) {
	left:91%;
	animation-duration:15.1s; -webkit-animation-duration:15.1s; -moz-animation-duration:15.1s;
	animation-delay:5s; -webkit-animation-delay:5s; -moz-animation-delay:5s;
	width:25pt;
}
#snow > i:nth-child(3) i {
	animation-duration:4.91s; -webkit-animation-duration:4.91s; -moz-animation-duration:4.91s;
	transform:scale(2.17);
}

#snow > i:nth-child(4) {
	left:45%;
	animation-duration:15.7s; -webkit-animation-duration:15.7s; -moz-animation-duration:15.7s;
	animation-delay:3s; -webkit-animation-delay:3s; -moz-animation-delay:3s;
	width:25pt;
}
#snow > i:nth-child(4) i {
	animation-duration:1.73s; -webkit-animation-duration:1.73s; -moz-animation-duration:1.73s;
	transform:scale(1.35);
}

#snow > i:nth-child(5) {
	left:23%;
	animation-duration:10.6s; -webkit-animation-duration:10.6s; -moz-animation-duration:10.6s;
	animation-delay:4s; -webkit-animation-delay:4s; -moz-animation-delay:4s;
	width:25pt;
}
#snow > i:nth-child(5) i {
	animation-duration:1.26s; -webkit-animation-duration:1.26s; -moz-animation-duration:1.26s;
	transform:scale(1.41);
}

#snow > i:nth-child(6) {
	left:28%;
	animation-duration:16.5s; -webkit-animation-duration:16.5s; -moz-animation-duration:16.5s;
	animation-delay:1s; -webkit-animation-delay:1s; -moz-animation-delay:1s;
	width:25pt;
}
#snow > i:nth-child(6) i {
	animation-duration:5.11s; -webkit-animation-duration:5.11s; -moz-animation-duration:5.11s;
	transform:scale(1.37);
}

#snow > i:nth-child(7) {
	left:52%;
	animation-duration:13.2s; -webkit-animation-duration:13.2s; -moz-animation-duration:13.2s;
	animation-delay:2s; -webkit-animation-delay:2s; -moz-animation-delay:2s;
	width:25pt;
}
#snow > i:nth-child(7) i {
	animation-duration:4.71s; -webkit-animation-duration:4.71s; -moz-animation-duration:4.71s;
	transform:scale(1.61);
}

#snow > i:nth-child(8) {
	left:78%;
	animation-duration:18.7s; -webkit-animation-duration:18.7s; -moz-animation-duration:18.7s;
	animation-delay:4s; -webkit-animation-delay:4s; -moz-animation-delay:4s;
	width:25pt;
}
#snow > i:nth-child(8) i {
	animation-duration:1.30s; -webkit-animation-duration:1.30s; -moz-animation-duration:1.30s;
	transform:scale(1.97);
}

#snow > i:nth-child(9) {
	left:86%;
	animation-duration:16.5s; -webkit-animation-duration:16.5s; -moz-animation-duration:16.5s;
	animation-delay:1s; -webkit-animation-delay:1s; -moz-animation-delay:1s;
	width:25pt;
}
#snow > i:nth-child(9) i {
	animation-duration:5.56s; -webkit-animation-duration:5.56s; -moz-animation-duration:5.56s;
	transform:scale(1.66);
}

#snow > i:nth-child(10) {
	left:55%;
	animation-duration:11.2s; -webkit-animation-duration:11.2s; -moz-animation-duration:11.2s;
	animation-delay:1s; -webkit-animation-delay:1s; -moz-animation-delay:1s;
	width:25pt;
}
#snow > i:nth-child(10) i {
	animation-duration:2.16s; -webkit-animation-duration:2.16s; -moz-animation-duration:2.16s;
	transform:scale(2.65);
}

#snow > i:nth-child(11) {
	left:65%;
	animation-duration:15.9s; -webkit-animation-duration:15.9s; -moz-animation-duration:15.9s;
	animation-delay:3s; -webkit-animation-delay:3s; -moz-animation-delay:3s;
	width:25pt;
}
#snow > i:nth-child(11) i {
	animation-duration:1.61s; -webkit-animation-duration:1.61s; -moz-animation-duration:1.61s;
	transform:scale(1.61);
}

#snow > i:nth-child(12) {
	left:13%;
	animation-duration:15.7s; -webkit-animation-duration:15.7s; -moz-animation-duration:15.7s;
	animation-delay:6s; -webkit-animation-delay:6s; -moz-animation-delay:6s;
	width:25pt;
}
#snow > i:nth-child(12) i {
	animation-duration:1.68s; -webkit-animation-duration:1.68s; -moz-animation-duration:1.68s;
	transform:scale(1.82);
}

#snow > i:nth-child(13) {
	left:96%;
	animation-duration:12.6s; -webkit-animation-duration:12.6s; -moz-animation-duration:12.6s;
	animation-delay:8s; -webkit-animation-delay:8s; -moz-animation-delay:8s;
	width:25pt;
}
#snow > i:nth-child(13) i {
	animation-duration:4.42s; -webkit-animation-duration:4.42s; -moz-animation-duration:4.42s;
	transform:scale(2.22);
}

#snow > i:nth-child(14) {
	left:71%;
	animation-duration:12.3s; -webkit-animation-duration:12.3s; -moz-animation-duration:12.3s;
	animation-delay:9s; -webkit-animation-delay:9s; -moz-animation-delay:9s;
	width:25pt;
}
#snow > i:nth-child(14) i {
	animation-duration:3.60s; -webkit-animation-duration:3.60s; -moz-animation-duration:3.60s;
	transform:scale(1.49);
}

#snow > i:nth-child(15) {
	left:45%;
	animation-duration:10.8s; -webkit-animation-duration:10.8s; -moz-animation-duration:10.8s;
	animation-delay:5s; -webkit-animation-delay:5s; -moz-animation-delay:5s;
	width:25pt;
}
#snow > i:nth-child(15) i {
	animation-duration:3.27s; -webkit-animation-duration:3.27s; -moz-animation-duration:3.27s;
	transform:scale(1.74);
}

#snow > i:nth-child(16) {
	left:77%;
	animation-duration:13.7s; -webkit-animation-duration:13.7s; -moz-animation-duration:13.7s;
	animation-delay:1s; -webkit-animation-delay:1s; -moz-animation-delay:1s;
	width:25pt;
}
#snow > i:nth-child(16) i {
	animation-duration:3.79s; -webkit-animation-duration:3.79s; -moz-animation-duration:3.79s;
	transform:scale(2.8);
}

#snow > i:nth-child(17) {
	left:16%;
	animation-duration:18.5s; -webkit-animation-duration:18.5s; -moz-animation-duration:18.5s;
	animation-delay:8s; -webkit-animation-delay:8s; -moz-animation-delay:8s;
	width:25pt;
}
#snow > i:nth-child(17) i {
	animation-duration:4.32s; -webkit-animation-duration:4.32s; -moz-animation-duration:4.32s;
	transform:scale(2.95);
}

#snow > i:nth-child(18) {
	left:2%;
	animation-duration:19.6s; -webkit-animation-duration:19.6s; -moz-animation-duration:19.6s;
	animation-delay:7s; -webkit-animation-delay:7s; -moz-animation-delay:7s;
	width:25pt;
}
#snow > i:nth-child(18) i {
	animation-duration:3.99s; -webkit-animation-duration:3.99s; -moz-animation-duration:3.99s;
	transform:scale(1.41);
}

#snow > i:nth-child(19) {
	left:12%;
	animation-duration:10.2s; -webkit-animation-duration:10.2s; -moz-animation-duration:10.2s;
	animation-delay:6s; -webkit-animation-delay:6s; -moz-animation-delay:6s;
	width:25pt;
}
#snow > i:nth-child(19) i {
	animation-duration:4.48s; -webkit-animation-duration:4.48s; -moz-animation-duration:4.48s;
	transform:scale(2.70);
}

#snow > i:nth-child(20) {
	left:13%;
	animation-duration:19.5s; -webkit-animation-duration:19.5s; -moz-animation-duration:19.5s;
	animation-delay:8s; -webkit-animation-delay:8s; -moz-animation-delay:8s;
	width:25pt;
}
#snow > i:nth-child(20) i {
	animation-duration:2.55s; -webkit-animation-duration:2.55s; -moz-animation-duration:2.55s;
	transform:scale(1.31);
}

