/* BY YPNOSE, FOR XTRAEMEAT (DON'T DELETE THIS LINE BRO!) */
/* IF YOU DO IT, I COME TO SPAIN AND I SLAP YA :D */
@font-face {
	font-family:'OpenS';
	src: url('/assets/fonts/OpenSans-Regular-webfont.eot');
	src: url('/assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/OpenSans-Regular-webfont.woff') format('woff'), url('/assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('/assets/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'FontAwesome';
	src:url('/assets/fonts/fontawesome-webfont.eot?v=4.0.3');
	src:url('/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('/assets/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('/assets/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('/assets/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}
body {
	font-size:16px;
}
/* MERGE */
body,#findpkg input {
	font-family:'OpenS', sans-serif;
}
body,nav {
	background-color:#FFF;
}
nav,header,article h1,article h2,article h3 {
	border-bottom:1px solid #D2D2D2;
}
#links,#title h1 {
	text-transform:uppercase;
}
#links ul,#social ul {
	padding:0;
	list-style-type:none;
}
#links ul li,#social ul li {
	display:inline;
	padding:0 8px;
}
body,#links ul,#social ul {
	margin:0;
}
#navwrap,#navpost,#navxbps,#navnews,#voidwrap,article,article h1,article h2,article h3,.video,#davoid,#xtraemewrap {
	margin:0 auto;
}
#voidwrap,article h1,article h2,article h3,.daxdate,#readprevnews,.video,.postarticle,#findpkg form,#donations,footer {
	text-align:center;
}
.fa,#title h1 {
	font-weight:normal;
}
#links,.fa,.voiddate,.voidgpic {
	display:inline-block;
}
#title h1,.cattitle {
	font-size:24px;
}
nav,#xtraemewrap,.daxdate,pre,p code,ul li code,#findpkg input {
	font-size:14px;
}
article,#xtraemewrap {
	line-height:30px;
}
#title h1,#readprevnews,.postarticle h2 {
	padding-top:20px;
}
#navwrap,#navpost,#navxbps,#navnews {
	line-height:24px;
}
nav a,p code {
	white-space:nowrap;
}
img,#davoid,.video {
	display:block;
}
/* --- */
a,a:visited {
	color:#478061;
	text-decoration:none;
	outline:none;
	transition:all .35s ease;
}
a:hover {
	color:#99C2A3;
	text-decoration:underline;
}
nav {
	position:fixed;
	top:0;
	left:0;
	right:0;
	padding:20px;
	box-shadow:0 1px 4px #555;
	z-index:9999;
}
#navwrap {
	text-align:center;
}
#navpost {
	max-width:560px;
}
#navxbps,#voidwrap {
	max-width:800px;
}
#navnews {
	max-width:440px;
}
#social {
	float:right;
}
.fa {
	font-family:FontAwesome;
	font-style:normal;
	line-height:1;
	/* SEEMS TO BE A DEPRECATED PROPERTY, BUT I'M NOT SURE */
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.fa-lg {
	font-size:1.3333333333333333em;
	line-height:0.75em;
	vertical-align:-15%;
}
header {
	margin:90px 0 0;
}
#voidwrap {
	padding:30px 24px 20px;
}
#davoid {
	position:relative;
	transition:transform 2s ease;
}
#davoid:hover {
	transform:rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
#title h1 {
	line-height:44px;
	color:#606060;
}
article {
	max-width:900px;
	padding:16px 24px 46px;
	text-align:justify;
}
article h1,article h2 {
	max-width:74%;
	padding-bottom:10px;
}
article h3 {
	max-width:58%;
	font-size:20px;
	padding-bottom:10px;
}
article h5 {
	margin-bottom:10px;
	padding-top:36px;
}
.cattitle {
	padding-top:90px;
}
article ul {
	list-style-type:circle;
	padding-left:25px;
}
.postarticle {
	padding-top:40px;
}
.postarticle div {
	font-weight:bold;
}
.voiddate {
	width:82px;
}
.sep {
	margin:0 5px;
}
pre,p code,ul li code {
	background-color:#F2F2F2;
	border:1px solid #D0D0D0;
	border-radius:4px;
	line-height:22px;
}
pre {
	padding:8px 12px;
	overflow-x:auto;
}
code {
	font-family:Consolas, "Liberation Mono", Courier, monospace;
	color:#222;
}
p code,ul li code {
	padding:2px 6px;
}
img {
	max-width:95%;
	margin:30px auto;
}
blockquote {
	margin-left:20px;
	border-left:6px solid grey;
}
blockquote p {
	font-style:italic;
	padding-left:10px;
}
#readprevnews a i,.rssdev a i {
	font-size:1em;
	vertical-align:-8%;
}
#findpkg form {
	margin:40px 0;
}
#findpkg input {
	width:40%;
	background-color:#F6F6F6;
	border:solid 1px #AAA;
	padding:7px;
}
#findpkg input:focus {
	border:solid 1px #478061;
}
#merchs p {
	margin:6px 0 0;
}
.voidgpic {
	margin:0 20px;
	max-width:160px;
	height:auto;
}
footer {
	background-color:#BDD7BD;
	border-top:1px solid #92A692;
}
#xtraemewrap {
	max-width:600px;
	padding:30px 16px 16px;
}
/* JUNK */
.fa-gog:before {
	content:"\f0d4";
}
.fa-comments:before {
	content:"\f086";
}
.fa-twr:before {
	content:"\f099";
}
.fa-github-alt:before {
	content:"\f113";
}
.fa-paypal:before {
  content: "\f1f4";
}
.fa-cog:before {
	content:"\f013";
}
.fa-rss:before {
	content:"\f143";
}
.fa-home:before {
	content:"\f015";
}
.fa-previous:before {
	content:"\f190";
}
.fa-next:before {
	content:"\f18e";
}
.fa-go:before {
	content:"\f064";
}
#xtraemewrap a:hover {
	color:#569C76;
}
@media screen and (max-width:980px) {
	nav {
		padding:10px 14px;
	}
	#navwrap,#navpost,#navxbps,#navnews {
		text-align:center;
	}
	#social {
		float:none;
		margin-top:8px;
	}
}
@media screen and (max-width:760px) {
	#social {
		display:none;
	}
	.voidgpic {
		width:120px;
	}
}
@media screen and (max-width:500px) {
	body {
		font-size:14px;
	}
	#xtraemewrap {
		font-size:13px;
		padding:24px 16px 16px;
	}
	pre,p code,#findpkg input {
		font-size:12px;
	}
	#title h1 {
		font-size:24px;
		line-height:34px;
	}
	article {
		line-height:28px;
	}
	article ul {
		text-align:left;
	}
	.voiddate {
		width:70px;
	}
}
#voidSearch_box {
	border:1px inset;
	background:white;
	padding:3pt;
}
#voidSearch_box.loading {
	background-image:url(../img/loading.gif);
	background-repeat:no-repeat;
	background-position:center right;
}

#voidSearch_result {
	margin:auto;
}

#voidSearch_result td {
	padding:10px;
}
#voidSearch_result td.version,
#voidSearch_result td.revision,
#voidSearch_result td.size {
	text-align:right;
}

#voidSearch_result tr td {
	color:#555;
}

#voidSearch_result tr:hover td {
	color:#000;
}

#voidSearch_result tr:nth-child(even) {
	background:#ddd;
}

#voidSearch_result tr th {
	background:transparent !important;
}


