/* BY YPNOSE, FOR XTRAEMEAT (DON'T DELETE THIS LINE BRO!) */
/* IF YOU DO IT, I COME TO SPAIN AND I SLAP YA :D */
@font-face {
	font-family:"Carme";
	src:url('/assets/fonts/Carme-Regular.ttf');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'FontAwesome';
	src:url('/assets/fonts/fontawesome-webfont.eot?v=4.0.3');
	src:url('/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('/assets/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('/assets/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('/assets/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}
body {
	font-family:'Carme', sans-serif;
	font-size:18px;
}
/* MERGE */
body,nav {
	background-color:#FFF;
}
nav,header,article h1,article h2, article h3 {
	border-bottom:1px solid #D2D2D2;
}
#links,#title h1 {
	text-transform:uppercase;
}
#links ul,#social ul {
	padding:0;
	list-style-type:none;
}
#links ul li,#social ul li {
	display:inline;
	padding:0 8px;
}
body,#links ul,#social ul {
	margin:0;
}
#navwrap,#navpost,#navxbps,#navnews,#voidwrap,article,article h1, article h2, article h3,#davoid,#xtraemewrap {
	margin:0 auto;
}
#voidwrap,article h1, article h2, article h3,#readprevnews,.postarticle,footer {
	text-align:center;
}
.fa,#title h1 {
	font-weight:normal;
}
#links,.fa,.voiddate {
	display:inline-block;
}
nav,#xtraemewrap {
	font-size:16px;
}
#title h1,#readprevnews,.postarticle h2 {
	padding-top:20px;
}
#navwrap,#navpost,#navxbps,#navnews {
	line-height:24px;
}
/* --- */
a,a:visited {
	color:#478061;
	text-decoration:none;
	outline:none;
	transition:all .35s ease;
}
a:hover {
	color:#99C2A3;
	text-decoration:underline;
}
nav {
	position:fixed;
	top:0;
	left:0;
	right:0;
	padding:20px;
	box-shadow:0 1px 4px #555;
	z-index:9999;
}
#navwrap {
	max-width:1000px;
}
#navpost {
	max-width:560px;
}
#navxbps {
	max-width:760px;
}
#navnews {
	max-width:440px;
}
#social {
	float:right;
}
.fa {
	font-family:FontAwesome;
	font-style:normal;
	line-height:1;
	/* SEEMS TO BE A DEPRECATED PROPERTY, BUT I'M NOT SURE */
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.fa-lg {
	font-size:1.3333333333333333em;
	line-height:0.75em;
	vertical-align:-15%;
}
header {
	margin:90px 0 0;
}
#voidwrap {
	max-width:800px;
	padding:30px 24px;
}
#davoid {
	background:url("/assets/img/voidlogo.png") no-repeat;
	width:206px;
	height:151px;
	display:block;
	-webkit-transition:all 1s ease-in-out;
	transition:all 1s ease-in-out;
}
#davoid:hover {
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg);
}
#title h1 {
	font-size:28px;
	line-height:44px;
	color:#606060;
}
article {
	max-width:900px;
	padding:16px 24px 46px;
	text-align:justify;
	line-height:34px;
}
article h1, article h2 {
	max-width:74%;
	padding-bottom:10px;
}
article h3 {
	max-width:58%;
	padding:36px 0 10px;
}
.cattitle {
	padding-top:90px;
}
article ul {
	list-style-type:circle;
	padding-left:25px;
}
.postarticle {
	padding-top:40px;
}
.postarticle div {
	font-weight:bold;
}
.voiddate {
	width:98px;
}
.sep {
	margin:0 5px;
}
pre,p code {
	font-family:Consolas, "Liberation Mono", Courier, monospace;
	font-size:17px;
	background-color:#EEE;
	border:1px solid #D0D0D0;
	border-radius:4px;
}
pre {
	padding:4px 12px;
	overflow-x:auto;
}
p code {
	padding:2px 6px;
}
blockquote {
	margin-left:20px;
	border-left:6px solid grey;
}
blockquote p {
	font-style:italic;
	padding-left:10px;
}
#readprevnews a i,.rssdev a i {
	font-size:1em;
	vertical-align:-8%;
}
/* FUCK YOU STUPID MESSAGE _|_ I'M STRONGER THAN U */
.rss-box span {
	display:none;
}
footer {
	background-color:#BDD7BD;
	border-top:1px solid #92A692;
}
#xtraemewrap {
	max-width:600px;
	line-height:30px;
	padding:36px 16px 16px;
}
.fa-google-plus-square:before {
	content:"\f0d4";
}
.fa-comments:before {
	content:"\f086";
}
.fa-github-alt:before {
	content:"\f113";
}
.fa-gift:before {
	content:"\f06b";
}
.fa-cog:before {
	content:"\f013";
}
.fa-rss:before {
	content:"\f143";
}
.fa-home:before {
	content:"\f015";
}
.fa-previous:before {
	content:"\f190";
}
.fa-next:before {
	content:"\f18e";
}
.fa-go:before {
	content:"\f064";
}
#xtraemewrap a:hover {
	color:#569C76;
}
@media screen and (max-width:970px) {
	nav {
		padding:10px 14px;
	}
	#navwrap,#navpost,#navxbps,#navnews {
		text-align:center;
	}
	#social {
		float:none;
		margin-top:8px;
	}
}
@media screen and (max-width:760px) {
	#social {
		display:none;
	}
}
@media screen and (max-width:500px) {
	body {
		font-size:15px;
	}
	pre,p code,#xtraemewrap {
		font-size:14px;
	}
	#title h1 {
		font-size:24px;
		line-height:34px;
	}
	article {
		line-height:28px;
	}
	article ul {
		text-align:left;
	}
	.voiddate {
		width:78px;
	}
}
