<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<link rel="icon" type="image/png" href="{{site.url}}/assets/img/favicon.ico" />
		<link rel="stylesheet" href="{{site.url}}/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{site.url}}/assets/css/screen.css">
		<link rel="stylesheet" href="{{site.url}}/assets/css/solarized.css">
		<link rel="stylesheet" href="{{site.url}}/assets/css/misc.css">
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,700' rel='stylesheet' type='text/css'>
		{% if site.snow == 1 %}<link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/snow.css" />{% endif %}
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.url}}/atom.xml" />
		<link rel="alternate" href="https://flattr.com/submit/auto?user_id=xtraeme&amp;url=http://voidlinux.eu{{ page.url | uri_escape }}" type="text/html" />
	</head>
	<body role="document">
		<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#void-collapsed-navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-right navbar-collapse" id="void-collapsed-navbar">
					<ul class="nav navbar-nav">
						<li><a href="{{site.url}}/">Home</a></li>
						<li><a href="{{site.url}}/news/">News</a></li>
						<li><a href="{{site.url}}/download/">Download</a></li>
						<li><a href="{{site.url}}/packages/">Packages</a></li>
						<li><a href="{{site.url}}/donations/">Donations</a></li>
						<li><a href="https://wiki.voidlinux.eu">Wiki</a></li>
						<li><a href="https://forum.voidlinux.eu">Forum</a></li>
						<li><a href="https://github.com/voidlinux">GitHub</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div id="davoid">
						<!--<img class="bg" alt="void logo" src="{{site.url}}/assets/img/void_bg.png" class="img-responsive">
						<img class="fg" alt="void logo" src="{{site.url}}/assets/img/void_fg.png" class="img-responsive">-->
						<iframe width="174" height="143" src="https://www.youtube.com/embed/7z5Ngl7AXxU?rel=0&amp;autoplay=1&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-9">
					<h2>The Pony (Linux) distribution</h2>
					<p>
					Pony is a general purpose operating system, based on the monolithic <a href="https://www.kernel.org">Linux&#174;</a> kernel. Its package system allows you to quickly install, update and remove software; software is provided in binary packages or can be built directly from sources with the help of the XBPS source packages collection.
					</p>
					<p>Currently there are over 6000 optimized binary packages for the x86, x86_64, ARMv6, ARMv7 architectures; also there's support to build (natively or cross compiling) from sources any package easily that is available in the <a href="https://github.com/voidlinux/void-packages">XBPS source packages collection</a>.
					</p>
					<h3>
					<!-- <a href="https://plus.google.com/communities/113949500587973059533" title="Pony on Google+"><i class="fa fa-gog fa-lg"></i></a> -->
					<a href="https://twitter.com/voidlinux" title="Pony on Twitter"><i class="fa fa-twr fa-lg"></i></a>
					<!-- <a href="https://groups.google.com/forum/#!forum/voidlinux" title="Pony Forum/Mailing list"><i class="fa fa-list fa-lg"></i></a> -->
					<a href="irc://irc.freenode.net/#voidlinux" title="Pony on IRC"><i class="fa fa-comments fa-lg"></i></a>
					<a href="http://build.voidlinux.eu/console" title="Pony builder"><i class="fa fa-cog fa-lg"></i></a>
					<a href="https://flattr.com/submit/auto?user_id=xtraeme&amp;url=http%3A%2F%2Fwww.voidlinux.eu" target="_blank"><img src="/assets/img/flattr-black.svg" alt="Donate via Flattr!" title="Donate via Flattr!"></a>
					<a href="https://patreon.com/xtraeme"><img src="/assets/img/patreon-logo.png" alt="Donate via Patreon!" title="Donate via Patreon!" /></a>
					<a href="https://www.paypal.com/webscr?cmd=_s-xclick&hosted_button_id=QMV62MDXJ955N"><img src="/assets/img/paypal.svg" alt="Donate via PayPal!" title="Donate via PayPal!" /></a></h3>
				</div>
			</div>
			<hr>
			{{ content }}
			{% if site.snow == 1 %}{% include snow.html %}{% endif %}
			<div class="container col-md-8 col-md-offset-2">
				<hr>
				<footer class="footer">
					<p class="text-center">Copyright 2008-{{ site.time | date: "%Y" }} <a href="https://github.com/xtraeme">Juan RP</a> and contributors</p>
					<p class="text-center">Linux&#174; is a registered trademark of Linus Torvalds (<a href="http://www.linuxfoundation.org/programs/legal/trademark/attribution">info</a>)</p>
				</footer>
			</div>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
			<script src="{{site.url}}/assets/js/bootstrap.min.js"></script>
		</div>
	</body>
</html>
